@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-family: 'Raleway', sans-serif, 'Encode Sans Semi Expanded', sans-serif;
  scroll-behavior: smooth;
  height: 2000px;
  overflow-x: hidden;
}

.button {
  height: 44px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/*COLORS*/
.homevideo {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 204, 255, 0.95)), to(rgba(65, 175, 255, 0.342)));
  background: linear-gradient(180deg, rgba(65, 204, 255, 0.95) 0%, rgba(65, 175, 255, 0.342) 100%);
  z-index: 50;
  /* BUTTON TECH LVEL */
}

.homevideo__maintitle {
  font: 900 5.5rem "Raleway", sans-serif;
  color: #1A3256;
  padding-top: 50px;
  padding-left: 60px;
}

.homevideo__description {
  max-width: 80vw;
  font: 300 1.8rem "Raleway", sans-serif;
  color: white;
  padding-left: 60px;
  text-align: justify;
}

.homevideo__description > br {
  display: none;
}

.homevideo__description .play-button-video--responsive {
  border: none;
  width: 260px;
  background-color: #08FFBA;
  font-weight: 800;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 14px;
}

.homevideo__play-button {
  display: none;
}

.homevideo__techlevel {
  opacity: 0;
}

.homevideo .bubbles {
  position: absolute;
  top: 10%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  height: 600px;
  left: -15px;
}

.homevideo .mainwave {
  overflow: hidden;
}

.homevideo .mainwave picture > img {
  position: absolute;
  bottom: -75px;
  min-width: 100%;
}

@media (min-width: 800px) {
  video {
    display: none;
  }
  @-webkit-keyframes rollvideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes rollvideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .homevideo {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 204, 255, 0.95)), to(rgba(65, 175, 255, 0.342)));
    background: linear-gradient(180deg, rgba(65, 204, 255, 0.95) 0%, rgba(65, 175, 255, 0.342) 100%);
    z-index: 100;
    /* BUTTON TECH LEVEL */
  }
  .homevideo__maintitle {
    font: 900 7rem "Raleway", sans-serif;
    padding-top: 90px;
    padding-left: 80px;
  }
  .homevideo__description {
    font: 300 2rem "Raleway", sans-serif;
    padding-left: 80px;
    padding-bottom: 50px;
  }
  .homevideo__description > br {
    display: block;
  }
  .homevideo__play-button {
    display: block;
    position: absolute;
    color: #08FFBA;
    font-size: 8.5rem;
    top: 130px;
    left: 46%;
    cursor: pointer;
  }
  .homevideo__play-button:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  .homevideo .homevideo__techlevel {
    opacity: 1;
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: #3AB0E2;
    position: absolute;
    bottom: -70px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
  }
  .homevideo .homevideo__techlevel > p {
    font: 400 1.25rem "Raleway", sans-serif;
    color: white;
    width: 250px;
    text-align: center;
  }
  .homevideo .homevideo__techlevel > p > .techlevelspan {
    font-weight: 700;
    color: #1A3256;
  }
  .homevideo .homevideo__techlevel > .rightarrowcontainer {
    color: #08FFBA;
    font-size: 40px;
    margin-left: 50px;
    cursor: pointer;
  }
  .homevideo .bubbles {
    -webkit-transform: none;
            transform: none;
    top: 30%;
    z-index: 30;
    height: unset;
    left: unset;
  }
  .mainwave {
    overflow: hidden;
  }
  .mainwave picture > img {
    position: absolute;
    z-index: -10;
    min-width: 100%;
  }
}

@media (max-width: 1230px) {
  .homevideo .play-button-video {
    display: none;
  }
}

@media (min-width: 1230px) {
  .homevideo .play-button-video--responsive {
    display: none;
  }
}

.home-solutions {
  max-width: 100vw;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .home-solutions--desktop {
    display: none;
} */
}

.home-solutions .home-solutions__title {
  font: 800 3rem "Raleway", sans-serif;
  color: #010913;
  text-align: center;
  max-width: 90vw;
}

.home-solutions p {
  margin-top: 20px;
  font: 300 1.5rem/35px "Raleway", sans-serif;
  text-align: center;
  max-width: 90vw;
}

.home-solutions > .card-solutions__container {
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: 30vw;
  /* Track */
  /* Handle */
}

.home-solutions > .card-solutions__container::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.home-solutions > .card-solutions__container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.home-solutions > .card-solutions__container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.home-solutions .card-solutions__card {
  margin-top: 45px;
  margin-right: 15px;
  position: relative;
  min-width: 240px;
  width: 240px;
  height: 320px;
  background: #FEFFFF;
  opacity: 0.75;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.home-solutions .card-solutions__card > img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.home-solutions .card-solutions__card:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.home-solutions .card-solutions__card > h3 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: 20px;
  font: 400 1.8rem/50px "Raleway", sans-serif;
  color: #07152c;
}

@media (min-width: 800px) {
  .home-solutions {
    margin-top: 300px;
    /*         .home-solutions--mobile {
            display: none;
        } */
  }
  .home-solutions .card-solutions__container {
    white-space: unset;
    overflow: unset;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 40px;
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .home-solutions > .home-solutions__title {
    font: 800 4rem "Raleway", sans-serif;
  }
  .home-solutions > p {
    font: 300 2rem/50px "Raleway", sans-serif;
  }
  .home-solutions .card-solutions__container {
    width: 90vw;
  }
  .home-solutions .card-solutions__card {
    margin-top: 0;
  }
}

.how-it-works {
  /* COTAINER OF ALL THE SECTIONS HOW DOES IT WORK */
}

.how-it-works h2 {
  font: 700 3rem "Raleway", sans-serif;
  text-align: center;
  margin: 40px 0 20px 0;
}

.how-it-works > .how-it-works__container {
  padding-top: 0;
  /* GENERAL STYLES FOR ALL OF THEM */
  /* EACH OF THE SECTIONS */
}

.how-it-works > .how-it-works__container > .how-it-works__item {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.how-it-works > .how-it-works__container > .how-it-works__item > h3 {
  font: 800 3.2rem "Raleway", sans-serif;
  color: #6E80EC;
  padding-top: 100px;
}

.how-it-works > .how-it-works__container > .how-it-works__item > p {
  font: 400 1.7rem/40px "Raleway", sans-serif;
}

.how-it-works > .how-it-works__container > .how-it-works__item .numbers {
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.how-it-works > .how-it-works__container .spiderwhite,
.how-it-works > .how-it-works__container .readingwhite,
.how-it-works > .how-it-works__container .chesswhite {
  display: block;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  margin: 0 auto;
  z-index: -10;
}

.how-it-works > .how-it-works__container > .identify {
  background: linear-gradient(90.9deg, rgba(170, 224, 253, 0.63) -3.59%, rgba(117, 141, 236, 0.53) 99.23%);
}

.how-it-works > .how-it-works__container > .learn {
  background: -webkit-gradient(linear, right top, left top, color-stop(7.09%, #b4f0e0), to(rgba(223, 243, 240, 0.09)));
  background: linear-gradient(270deg, #b4f0e0 7.09%, rgba(223, 243, 240, 0.09) 100%);
}

.how-it-works > .how-it-works__container > .apply {
  background: linear-gradient(270.45deg, rgba(170, 224, 253, 0.63) 10.17%, rgba(117, 141, 236, 0.53) 90.03%);
}

@media (min-width: 1200px) {
  .how-it-works {
    position: relative;
    /* COTAINER OF ALL THE SECTIONS HOW DOES IT WORK */
  }
  .how-it-works .wavy {
    width: 100vw;
    position: absolute;
    z-index: -10;
  }
  .how-it-works h2 {
    text-align: start;
    margin-left: 100px;
    margin-top: 100px;
    font: 400 4rem "Raleway", sans-serif;
    color: #1A3256;
    z-index: 50;
  }
  .how-it-works h2 > span {
    font-weight: 700;
  }
  .how-it-works > .how-it-works__container {
    /* GENERAL STYLES FOR ALL OF THEM */
  }
  .how-it-works > .how-it-works__container > .how-it-works__item {
    background: unset;
    opacity: 1;
    height: 200px;
    text-align: unset;
    margin: 0px 0px 100px 120px;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item > h3 {
    font: 800 3.5rem "Raleway", sans-serif;
    padding: 0;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item > p {
    margin-top: 10px;
    font: 400 2rem/40px "Raleway", sans-serif;
    color: #010913;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item > .numbers {
    position: absolute;
    top: -15px;
    left: -100px;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item > .number2 {
    position: absolute;
    top: -15px;
    left: 400px;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item.learn > h3 {
    margin-left: 240px;
  }
  .how-it-works > .how-it-works__container > .how-it-works__item .spiderwhite,
  .how-it-works > .how-it-works__container > .how-it-works__item .readingwhite,
  .how-it-works > .how-it-works__container > .how-it-works__item .chesswhite {
    display: block;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: 0 auto;
    z-index: -10;
  }
}
