@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-family: 'Raleway', sans-serif, 'Encode Sans Semi Expanded', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 2000px;
}

.button {
  height: 44px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/*COLORS*/
.homevideo {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 204, 255, 0.95)), to(rgba(65, 175, 255, 0.342)));
  background: linear-gradient(180deg, rgba(65, 204, 255, 0.95) 0%, rgba(65, 175, 255, 0.342) 100%);
  z-index: 50;
  /* BUTTON TECH LVEL */
}

.homevideo__maintitle {
  font: 900 5.5rem "Raleway", sans-serif;
  color: #1A3256;
  padding-top: 50px;
  padding-left: 60px;
}

.homevideo__description {
  max-width: 80vw;
  font: 300 1.8rem "Raleway", sans-serif;
  color: white;
  padding-left: 60px;
  text-align: justify;
}

.homevideo__description > br {
  display: none;
}

.homevideo__description .play-button-video--responsive {
  border: none;
  width: 260px;
  background-color: #08FFBA;
  font-weight: 800;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 14px;
}

.homevideo__play-button {
  display: none;
}

.homevideo__techlevel {
  opacity: 0;
}

.homevideo .bubbles {
  position: absolute;
  top: 10%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  height: 600px;
  left: -15px;
}

.homevideo .mainwave {
  position: absolute;
  bottom: -75px;
}

@media (min-width: 800px) {
  video {
    display: none;
  }
  @-webkit-keyframes rollvideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes rollvideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .homevideo {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 204, 255, 0.95)), to(rgba(65, 175, 255, 0.342)));
    background: linear-gradient(180deg, rgba(65, 204, 255, 0.95) 0%, rgba(65, 175, 255, 0.342) 100%);
    z-index: 100;
    /* BUTTON TECH LEVEL */
  }
  .homevideo__maintitle {
    font: 900 7rem "Raleway", sans-serif;
    padding-top: 90px;
    padding-left: 80px;
  }
  .homevideo__description {
    font: 300 2rem "Raleway", sans-serif;
    padding-left: 80px;
    padding-bottom: 50px;
  }
  .homevideo__description > br {
    display: block;
  }
  .homevideo__play-button {
    display: block;
    position: absolute;
    color: #08FFBA;
    font-size: 8.5rem;
    top: 130px;
    left: 46%;
    cursor: pointer;
  }
  .homevideo__play-button:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
  .homevideo .homevideo__techlevel {
    opacity: 1;
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: #3AB0E2;
    position: absolute;
    bottom: -70px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
  }
  .homevideo .homevideo__techlevel > p {
    font: 400 1.25rem "Raleway", sans-serif;
    color: white;
    width: 250px;
    text-align: center;
  }
  .homevideo .homevideo__techlevel > p > .techlevelspan {
    font-weight: 700;
    color: #1A3256;
  }
  .homevideo .homevideo__techlevel > .rightarrowcontainer {
    color: #08FFBA;
    font-size: 40px;
    margin-left: 50px;
    cursor: pointer;
  }
  .homevideo .bubbles {
    -webkit-transform: none;
            transform: none;
    top: 30%;
    z-index: 30;
    height: unset;
    left: unset;
  }
  .mainwave {
    position: absolute;
    z-index: -10;
    overflow: hidden;
  }
}

@media (max-width: 1230px) {
  .homevideo .play-button-video {
    display: none;
  }
}

@media (min-width: 1230px) {
  .homevideo .play-button-video--responsive {
    display: none;
  }
}

.home-solutions {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .home-solutions--desktop {
    display: none;
} */
}

.home-solutions .home-solutions__title {
  font: 800 3rem "Raleway", sans-serif;
  color: #010913;
  text-align: center;
  max-width: 90vw;
}

.home-solutions p {
  margin-top: 20px;
  font: 300 1.5rem/50px "Raleway", sans-serif;
  text-align: center;
  max-width: 90vw;
}

.home-solutions .card-solutions__container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.home-solutions .card-solutions__card {
  margin-top: 45px;
  position: relative;
  width: 240px;
  height: 320px;
  background: #FEFFFF;
  opacity: 0.75;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.home-solutions .card-solutions__card > img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.home-solutions .card-solutions__card:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.home-solutions .card-solutions__card > h3 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: 20px;
  font: 400 1.8rem/50px "Raleway", sans-serif;
  color: #07152c;
}

@media (min-width: 800px) {
  .home-solutions {
    margin-top: 300px;
    /*         .home-solutions--mobile {
            display: none;
        } */
  }
  .home-solutions .card-solutions__container {
    width: 65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .home-solutions h2 {
    font: 800 4.3rem "Raleway", sans-serif;
  }
  .home-solutions p {
    font: 300 2rem/50px "Raleway", sans-serif;
  }
  .home-solutions .card-solutions__container {
    width: 90vw;
  }
  .home-solutions .card-solutions__card {
    margin-top: 0;
  }
}
