.how-it-works {

    h2 {
        font: 700 $SubtitleMobile $Raleway;
        text-align: center;
        margin: 40px 0 20px 0;
    }


    & .wavy {
        display: none;
    }

    /* COTAINER OF ALL THE SECTIONS HOW DOES IT WORK */
    &>.how-it-works__container {
        padding-top: 0;

        /* GENERAL STYLES FOR ALL OF THEM */
        &>.how-it-works__item {
            position: relative;
            text-align: center;
            margin: 0 auto;

            &>h3 {
                font: 800 3.2rem $Raleway;
                color: $blue;
                padding-top: 100px;
            }

            &>p {
                font: 400 1.7rem/40px $Raleway;
            }


            .numbers {
                position: absolute;
                top: 15px;
                left: 15px;
                transform: scale(0.7);
            }
        }

        .spiderwhite,
        .readingwhite,
        .chesswhite {
            display: block;
            transform: scale(0.7);
            margin: 0 auto;
            z-index: -10;
        }

        /* EACH OF THE SECTIONS */
        &>.identify {
            background: linear-gradient(90.9deg, rgba(170, 224, 253, 0.63) -3.59%, rgba(117, 141, 236, 0.53) 99.23%);
        }

        &>.learn {
            background: linear-gradient(270deg, #b4f0e0 7.09%, rgba(223, 243, 240, 0.09) 100%);
        }

        &>.apply {
            background: linear-gradient(270.45deg, rgba(170, 224, 253, 0.63) 10.17%, rgba(117, 141, 236, 0.53) 90.03%);
        }

    }
}




@media (min-width:1200px) {


    .how-it-works {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        & .wavy {
            display: block;
            width: 105vw;
            top: 50px;
            position: absolute;
            left: -30px;
            z-index: -10;
        }

        h2 {
            text-align: start;
            margin: 120px 0 130px 100px;
            font: 400 $Subtitle $Raleway;
            color: $darkblue;
            z-index: 50;

            &>span {
                font-weight: 700;
            }
        }


        /* COTAINER OF ALL THE SECTIONS HOW DOES IT WORK */
        &>.how-it-works__container {
            display: flex;
            flex-direction: column;

            /* GENERAL STYLES FOR ALL OF THEM */
            &>.how-it-works__item {
                position: relative;
                background: unset;
                opacity: 1;
                height: 200px;
                text-align: unset;
                margin: 0px 0px 30px 120px;

                &>h3 {
                    font: 800 3.5rem $Raleway;
                    padding: 0;
                }

                &>p {
                    margin-top: 10px;
                    font: 400 2rem/40px $Raleway;
                    color: $black;


                }

                &>.numbers {
                    position: absolute;
                    top: -15px;
                    left: -100px;
                }

                &>.number2 {
                    position: absolute;
                    top: -15px;
                    left: 400px;
                }

                & .identify {}

                &.learn {
                    align-self: flex-end;
                    margin-right: 120px;

                    &>h3 {
                        margin-left: 240px;
                    }
                }

                & .apply {}

                .spiderwhite,
                .readingwhite,
                .chesswhite {
                    position: absolute;
                    top: -25px;
                }

                .spiderwhite,
                .chesswhite {
                    left: 28vw;
                }

                .readingwhite {
                    right: 28vw;
                }


            }
        }
    }
}