.home-solutions {
    max-width: 100vw;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & .home-solutions__title {
        font: 800 3rem $Raleway;
        color: $black;
        text-align: center;
        max-width: 90vw;
    }

    p {
        margin-top: 20px;
        font: 300 1.5rem/35px $Raleway;
        text-align: center;
        max-width: 90vw;
    }

    &>.card-solutions__container {
        height: 100%;
        width: 100%;
        align-self: flex-start;
        padding: 20px 20px;
        display: flex;
        gap: 30px;
        overflow-x: auto;
        scrollbar-width: 30vw;

        &::-webkit-scrollbar {
            width: 0px;
            height: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 10px;
        }


    }

    .card-solutions__card {
        margin-top: 45px;
        margin-right: 15px;
        position: relative;
        min-width: 240px;
        width: 240px;
        height: 320px;
        background: #FEFFFF;
        opacity: 0.75;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &>img {
            transform: scale(0.85);
        }

        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.04);

        }

        &>h3 {
            position: absolute;
            align-self: center;
            bottom: 20px;
            font: 400 1.8rem/50px $Raleway;
            color: #07152c;

        }
    }

    /* .home-solutions--desktop {
    display: none;
} */
}

@media (min-width:800px) {
    .home-solutions {
        margin-top: 300px;

        .card-solutions__container {
            white-space: unset;
            overflow: unset;
            align-self: center;
            padding-top: 40px;
            width: 65vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            flex-direction: row;
        }

        /*         .home-solutions--mobile {
            display: none;
        } */
    }
}


@media (min-width:1200px) {

    .home-solutions {

        &>.home-solutions__title {
            font: 800 $Subtitle $Raleway;
        }

        &>p {
            font: 300 2rem/50px $Raleway;
        }


        .card-solutions__container {
            width: 90vw;

        }

        .card-solutions__card {
            margin-top: 0;
        }


    }

}